<f:if condition="{entry}">
<div class="kaltura">
<script type="text/javascript" src="http://{kalturaUrl}/p/{partnerID}/sp/{subPartnerID}/embedIframeJs/uiconf_id/{playerUI}/partner_id/{partnerID}"></script>
<script type="text/javascript">
	mw.setConfig('EmbedPlayer.EnableIframeApi', true );
	mw.setConfig('Kaltura.AllowIframeRemoteService', true);
</script>
<object id="kaltura_player_{uid}" 
name="kaltura_player_{uid}" 
type="application/x-shockwave-flash" 
allowFullScreen="true" 
allowNetworking="all" 
allowScriptAccess="always" 
height="{height}" width="{settings.width}" 
bgcolor="#000000" 
xmlns:dc="http://purl.org/dc/terms/" 
xmlns:media="http://search.yahoo.com/searchmonkey/media/" 
rel="media:video" 
<f:if condition='{playlist}'><f:then>resource="http://{kalturaUrl}/index.php/kwidget/cache_st/{cacheTime}/wid/_{partnerID}/uiconf_id/{playerUI}"
</f:then><f:else>resource="http://{kalturaUrl}/index.php/kwidget/cache_st/{cacheTime}/wid/_{partnerID}/uiconf_id/{playerUI}/entry_id/{entry.id}"</f:else></f:if>
<f:if condition='{playlist}'><f:then>data="http://{kalturaUrl}/index.php/kwidget/cache_st/{cacheTime}/wid/_{partnerID}/uiconf_id/{playerUI}"</f:then><f:else>
data="http://{kalturaUrl}/index.php/kwidget/cache_st/{cacheTime}/wid/_{partnerID}/uiconf_id/{playerUI}/entry_id/{entry.id}"</f:else></f:if>
>
<param name="allowFullScreen" value="true" />
<param name="allowNetworking" value="all" />
<param name="allowScriptAccess" value="always" />
<param name="bgcolor" value="#000000" />
<param name="flashVars" <f:if condition='{playlist}'><f:then>value="playlistAPI.autoInsert=true&playlistAPI.kpl0Name={entry.name}&playlistAPI.kpl0Url=http%3A%2F%2F{kalturaUrl}%2Findex.php%2Fpartnerservices2%2Fexecuteplaylist%3Fuid%3D%26partner_id%3D{partnerID}%26subp_id%3D{subPartnerID}%26format%3D8%26ks%3D%7Bks%7D%26playlist_id%3D{entry.id}&"</f:then><f:else>value="&"</f:else></f:if> />
<param name="movie" value="http://{kalturaUrl}/index.php/kwidget/cache_st/{cacheTime}/wid/_{partnerID}/uiconf_id/{playerUI}/entry_id/{entry.id}" />
<a rel="media:thumbnail" href="{entry.thumbnailUrl}"></a> 
<span property="dc:description" content=""></span>
<span property="media:title" content="{entry.name}"></span> 
<span property="media:width" content="{settings.width}"></span>
<span property="media:height" content="{height}"></span> 
<span property="media:type" content="application/x-shockwave-flash"></span> 
</object>
</div>
</f:if>

<f:if condition="{error}">
<div class="kaltura kaltura-error">
{error}
</div>
</f:if>
