.select-category-list {
	float:left;
	width:30%;
	overflow: auto;
	padding: 3px;
	margin-right: 3%;
}
.select-video-list {
	float:left;
	width:30%;
	margin-right: 3%;
	padding: 3px;
}
ul.video-list, ul.category-list-0, ul.video-views {
	min-height:250px;
	max-height:250px;
	overflow: auto;
	border: solid 1px #000000;
	background-color: #ffffff;
}
ul.video-list li, .select-category-list li {
	padding:2px;
	border-bottom: 1px solid silver;
}
ul.video-views {
	padding:5px;
	min-height: 240px;
	max-height: 350px;
}
.view-video-item {
	float:left;
	width:30%;
	padding: 3px;
}
.select-category-list ul ul li {
	padding-left:10px;
}
.select-category-list ul ul ul li {
	padding-left:20px;
}
.select-category-list ul ul ul ul li {
	padding-left:30px;
}
.select-category-list li, .video-list li {
	cursor: pointer;
}
.kaltura-video-select:after {
	border: 2px dashed red; 
	width : 99%; 
	margin: 5px 5px 5px 5px; 
	padding: 5px 5px 5px 5px;
}

.video-list .select-video {
	background:none;
}
.video-list .active, .select-category-list .active {
	background-color:#329acd;
	color:#ffffff;
}
.video-info-image {
	/* text-align: center; */
	float:right;
}
.video-info-name {
	font-weight: bold;
	margin-bottom:2px;
}
.video-info-description {
	font-style: italic;
}
.video-info table {margin:0;paddin:0;clear:both;}
.video-info td {padding:1px 0px 1px 0px!important;}
.video-info td.label {font-weight: bold;}
.video-info-image img {border:solid 1px silver; padding:5px;}